.df {
    display: flex; 
}

.jcc {
    justify-content: center;
}

.jcfs {
    justify-content: flex-start;
}

.jcfe {
    justify-content: flex-end;
}

.fdc {
    flex-direction: column;
}

.fdr {
    flex-direction: row;
}

.aic {
    align-items: center;
}

.aife {
    align-items: flex-end;
}

.aifs {
    align-items: flex-start;
}

.aifb {
    align-items: baseline;
}

.acc {
    align-content: center;
}

.acfe {
    align-content: flex-end;
}

.acfs {
    align-content: flex-start;
}

.acsa {
    align-content: space-around;
}

.acsb {
    align-content: space-between;
}

.tac {
    text-align: center;
}

.tae {
    text-align: end;
}

.tas {
    text-align: start;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.pf {
    position: fixed;
}

.pstatic {
    position: static;
}

.psticky {
    position: sticky;
}












