$darkBg: #062a4c;
$lightBg: #094074;
$highBg: #5adbff;

$colorTxt: #ff7070;
$superColorTxt: #ff9f2b;

$font: 'Oswald', sans-serif; 
$transition-hover: color 1s ease-out;

$sizeBig: 3.5rem;
$sizeMid: 2rem;
$sizeSmall : 1.3rem;