.lighr-bg .hover-txt:hover, .dark-bg .hover-txt:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.4s ease-out;
}

.high-bg .hover-txt:hover {
  color: rgba(0, 0, 0, 0.9);
  transition: color 0.4s ease-out;
}

.color-txt {
  color: #ff7070;
}

.super-color-txt {
  color: #ff9f2b;
}

.size-big {
  font-size: 3.5rem;
}

.size-mid {
  font-size: 2rem;
}

.size-small {
  font-size: 1.3rem;
}

.dark-bg {
  background-color: #062a4c;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Oswald", sans-serif;
}

.light-bg {
  background-color: #094074;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Oswald", sans-serif;
}

.high-bg {
  background-color: #5adbff;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Oswald", sans-serif;
}

/*
    col-xs-12
    col-sm-12
    col-md-6
    col-lg-6
    col-xl-6
*/
@media (min-width: 576px) {
  .col-xs-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-xs-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-md-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-md-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-md-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-xs-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-md-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-md-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-md-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-xs-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-xs-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-xs-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-xs-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xs-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xs-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-sm-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-md-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-md-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-md-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-md-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-md-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-lg-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }

  .col-xl-1 {
    width: 8.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xl-3 {
    width: 25%;
    margin-left: 0;
    float: left;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xl-6 {
    width: 50%;
    margin-left: 0;
    float: left;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xl-9 {
    width: 75%;
    margin-left: 0;
    float: left;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    margin-left: 0;
    float: left;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    margin-left: 0;
    float: left;
  }

  .col-xl-12 {
    width: 100%;
    margin-left: 0;
    float: left;
  }
}
.container {
  width: 100%;
  font: inherit;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: auto;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: inline-block;
  margin-top: 2vh;
  margin-left: 0;
}

.box {
  height: 48vh;
}

.img {
  background-image: url(https://media.licdn.com/dms/image/C4D0BAQEh1gyup_7Wnw/company-logo_200_200/0?e=2159024400&v=beta&t=k_y6fr4Y4FlgWV8k1CQlU8XxbbPp40v_N5bh-4-S-xU);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90px;
  width: 90px;
  content: "";
  margin-top: 20px;
}

@media (max-width: 340px) {
  .box {
    height: 60vh;
  }
}
.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcfs {
  justify-content: flex-start;
}

.jcfe {
  justify-content: flex-end;
}

.fdc {
  flex-direction: column;
}

.fdr {
  flex-direction: row;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.aifs {
  align-items: flex-start;
}

.aifb {
  align-items: baseline;
}

.acc {
  align-content: center;
}

.acfe {
  align-content: flex-end;
}

.acfs {
  align-content: flex-start;
}

.acsa {
  align-content: space-around;
}

.acsb {
  align-content: space-between;
}

.tac {
  text-align: center;
}

.tae {
  text-align: end;
}

.tas {
  text-align: start;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.pf {
  position: fixed;
}

.pstatic {
  position: static;
}

.psticky {
  position: sticky;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: "Oswald", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=style.css.map */
